Dsl/GeneratedCode/UMLSPFSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="UMLSPFSchema" targetNamespace="http://schemas.microsoft.com/dsltools/UMLSPF" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/UMLSPF" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- ModeloClassWEB -->
  <xsd:element name="modeloClassWEB" type="ModeloClassWEB" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModeloClassWEB">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ModeloClassWEBHasClase -->
          <xsd:element name="clase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModeloClassWEBHasClase</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modeloClassWEBHasClase" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModeloClassWEBHasClase needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModeloClassWEBHasHerencia -->
          <xsd:element name="herencia" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModeloClassWEBHasHerencia</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modeloClassWEBHasHerencia" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModeloClassWEBHasHerencia needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreUML -->
        <xsd:attribute name="nombreUML" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModeloClassWEB Moniker -->
  <xsd:element name="modeloClassWEBMoniker" type="ModeloClassWEBMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModeloClassWEBMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModeloClassWEB instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase -->
  <xsd:element name="clase" type="Clase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Clase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseHasAtributo -->
          <xsd:element name="atributo" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasAtributo</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasAtributo" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasAtributo needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseHasOperaciones -->
          <xsd:element name="operaciones" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasOperaciones</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasOperaciones" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasOperaciones needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: conAsociacion -->
          <xsd:element name="targetClase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of conAsociacion</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="conAsociacion" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of conAsociacion needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseHasAtributoIdentificador -->
          <xsd:element name="atributoIdentificador" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClaseHasAtributoIdentificador</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasAtributoIdentificador" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasAtributoIdentificador needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreClase -->
        <xsd:attribute name="nombreClase" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Nombre de la  Clase</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase Moniker -->
  <xsd:element name="claseMoniker" type="ClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Clase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo -->
  <xsd:element name="atributo" type="Atributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Atributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreAtributo -->
        <xsd:attribute name="nombreAtributo" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Nombre del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoAtributo -->
        <xsd:attribute name="tipoAtributo" type="tipodato" >
          <xsd:annotation>
            <xsd:documentation>Tipo de dato del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Modificador -->
        <xsd:attribute name="modificador" type="Modificadores" >
          <xsd:annotation>
            <xsd:documentation>Modificador del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo Moniker -->
  <xsd:element name="atributoMoniker" type="AtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Atributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Operaciones -->
  <xsd:element name="operaciones" type="Operaciones" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Operaciones">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: OperacionesHasParametros -->
          <xsd:element name="parametros" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of OperacionesHasParametros</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="operacionesHasParametros" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of OperacionesHasParametros needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreOperacion -->
        <xsd:attribute name="nombreOperacion" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Nombre del metodo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoOperacion -->
        <xsd:attribute name="tipoOperacion" type="tipodato" >
          <xsd:annotation>
            <xsd:documentation>Tipo de dato del metodo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Modificador -->
        <xsd:attribute name="modificador" type="Modificadores" >
          <xsd:annotation>
            <xsd:documentation>Modificador del Metodo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Operaciones Moniker -->
  <xsd:element name="operacionesMoniker" type="OperacionesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="OperacionesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Operaciones instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida -->
  <xsd:element name="claseEnriquecida" type="ClaseEnriquecida" substitutionGroup="clase" />
  <xsd:complexType name="ClaseEnriquecida">
    <xsd:complexContent>
      <xsd:extension base="Clase">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseEnriquecidaHasEstilosClase -->
          <xsd:element name="estilosClase" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClaseEnriquecidaHasEstilosClase</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseEnriquecidaHasEstilosClase" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseEnriquecidaHasEstilosClase needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseEnriquecidaHasEstiloAtributos -->
          <xsd:element name="estiloAtributos" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClaseEnriquecidaHasEstiloAtributos</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseEnriquecidaHasEstiloAtributos" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseEnriquecidaHasEstiloAtributos needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseEnriquecidaHasEstiloMetodos -->
          <xsd:element name="estiloMetodos" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClaseEnriquecidaHasEstiloMetodos</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseEnriquecidaHasEstiloMetodos" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseEnriquecidaHasEstiloMetodos needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida Moniker -->
  <xsd:element name="claseEnriquecidaMoniker" type="ClaseEnriquecidaMoniker" substitutionGroup="claseMoniker" />
  <xsd:complexType name="ClaseEnriquecidaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecida instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstilosClase -->
  <xsd:element name="estilosClase" type="EstilosClase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstilosClase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ColorFondo -->
        <xsd:attribute name="colorFondo" type="Colorz" />
        <!-- Property: ColorLetra -->
        <xsd:attribute name="colorLetra" type="Colorz" />
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="tipodeletra" />
        <!-- Property: Alineacion -->
        <xsd:attribute name="alineacion" type="posicion" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstilosClase Moniker -->
  <xsd:element name="estilosClaseMoniker" type="EstilosClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstilosClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstilosClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloAtributos -->
  <xsd:element name="estiloAtributos" type="EstiloAtributos" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstiloAtributos">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Tipoletra -->
        <xsd:attribute name="tipoletra" type="tipodeletra" />
        <!-- Property: ColorLetra -->
        <xsd:attribute name="colorLetra" type="Colorz" />
        <!-- Property: FormatoAtributo -->
        <xsd:attribute name="formatoAtributo" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloAtributos Moniker -->
  <xsd:element name="estiloAtributosMoniker" type="EstiloAtributosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstiloAtributosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloAtributos instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloMetodos -->
  <xsd:element name="estiloMetodos" type="EstiloMetodos" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstiloMetodos">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="tipodeletra" />
        <!-- Property: ColorLetra -->
        <xsd:attribute name="colorLetra" type="Colorz" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloMetodos Moniker -->
  <xsd:element name="estiloMetodosMoniker" type="EstiloMetodosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstiloMetodosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloMetodos instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Herencia -->
  <xsd:element name="herencia" type="Herencia" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Herencia">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: EsPadre -->
          <xsd:element name="clasePadre" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EsPadre</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="esPadre" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EsPadre needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: EsHija -->
          <xsd:element name="claseHija" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EsHija</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="esHija" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EsHija needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Herencia Moniker -->
  <xsd:element name="herenciaMoniker" type="HerenciaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="HerenciaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Herencia instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoIdentificador -->
  <xsd:element name="atributoIdentificador" type="AtributoIdentificador" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AtributoIdentificador">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreAtributo -->
        <xsd:attribute name="nombreAtributo" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Nombre del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoAtributo -->
        <xsd:attribute name="tipoAtributo" type="tipodato" >
          <xsd:annotation>
            <xsd:documentation>Tipo de dato del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Modificador -->
        <xsd:attribute name="modificador" type="Modificadores" >
          <xsd:annotation>
            <xsd:documentation>Modificador del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoIdentificador Moniker -->
  <xsd:element name="atributoIdentificadorMoniker" type="AtributoIdentificadorMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoIdentificadorMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoIdentificador instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parametros -->
  <xsd:element name="parametros" type="Parametros" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Parametros">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoDato -->
        <xsd:attribute name="tipoDato" type="tipodato" />
        <!-- Property: NombreParametro -->
        <xsd:attribute name="nombreParametro" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parametros Moniker -->
  <xsd:element name="parametrosMoniker" type="ParametrosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ParametrosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Parametros instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModeloClassWEBHasClase -->
  <xsd:element name="modeloClassWEBHasClase" type="ModeloClassWEBHasClase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModeloClassWEBHasClase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="clase" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModeloClassWEBHasClase Moniker -->
  <xsd:element name="modeloClassWEBHasClaseMoniker" type="ModeloClassWEBHasClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModeloClassWEBHasClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModeloClassWEBHasClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo -->
  <xsd:element name="claseHasAtributo" type="ClaseHasAtributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasAtributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Atributo -->
          <xsd:element ref="atributo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo Moniker -->
  <xsd:element name="claseHasAtributoMoniker" type="ClaseHasAtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasAtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasAtributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasOperaciones -->
  <xsd:element name="claseHasOperaciones" type="ClaseHasOperaciones" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasOperaciones">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Operaciones -->
          <xsd:element ref="operaciones" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasOperaciones Moniker -->
  <xsd:element name="claseHasOperacionesMoniker" type="ClaseHasOperacionesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasOperacionesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasOperaciones instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- conAsociacion -->
  <xsd:element name="conAsociacion" type="ConAsociacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ConAsociacion">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: refD -->
        <xsd:attribute name="refD" type="Cardinalidades" >
          <xsd:annotation>
            <xsd:documentation>Establecer cardinalidad entre clases</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: refI -->
        <xsd:attribute name="refI" type="Cardinalidades" >
          <xsd:annotation>
            <xsd:documentation>Establecer cardinalidad entre clases</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreRelacion -->
        <xsd:attribute name="nombreRelacion" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Establecer nonbre relacion entre las clases</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NameRelation -->
        <xsd:attribute name="nameRelation" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Establecer nonbre relacion entre las clases</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ConexionTipo -->
        <xsd:attribute name="conexionTipo" type="ConexionTipos" >
          <xsd:annotation>
            <xsd:documentation>Establecer tipo de conexion</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- conAsociacion Moniker -->
  <xsd:element name="conAsociacionMoniker" type="ConAsociacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConAsociacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for conAsociacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstilosClase -->
  <xsd:element name="claseEnriquecidaHasEstilosClase" type="ClaseEnriquecidaHasEstilosClase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecidaHasEstilosClase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstilosClase -->
          <xsd:element ref="estilosClase" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstilosClase Moniker -->
  <xsd:element name="claseEnriquecidaHasEstilosClaseMoniker" type="ClaseEnriquecidaHasEstilosClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaHasEstilosClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecidaHasEstilosClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstiloAtributos -->
  <xsd:element name="claseEnriquecidaHasEstiloAtributos" type="ClaseEnriquecidaHasEstiloAtributos" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecidaHasEstiloAtributos">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloAtributos -->
          <xsd:element ref="estiloAtributos" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstiloAtributos Moniker -->
  <xsd:element name="claseEnriquecidaHasEstiloAtributosMoniker" type="ClaseEnriquecidaHasEstiloAtributosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaHasEstiloAtributosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecidaHasEstiloAtributos instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstiloMetodos -->
  <xsd:element name="claseEnriquecidaHasEstiloMetodos" type="ClaseEnriquecidaHasEstiloMetodos" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecidaHasEstiloMetodos">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloMetodos -->
          <xsd:element ref="estiloMetodos" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstiloMetodos Moniker -->
  <xsd:element name="claseEnriquecidaHasEstiloMetodosMoniker" type="ClaseEnriquecidaHasEstiloMetodosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaHasEstiloMetodosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecidaHasEstiloMetodos instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModeloClassWEBHasHerencia -->
  <xsd:element name="modeloClassWEBHasHerencia" type="ModeloClassWEBHasHerencia" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModeloClassWEBHasHerencia">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Herencia -->
          <xsd:element ref="herencia" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModeloClassWEBHasHerencia Moniker -->
  <xsd:element name="modeloClassWEBHasHerenciaMoniker" type="ModeloClassWEBHasHerenciaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModeloClassWEBHasHerenciaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModeloClassWEBHasHerencia instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EsPadre -->
  <xsd:element name="esPadre" type="EsPadre" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EsPadre">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EsPadre Moniker -->
  <xsd:element name="esPadreMoniker" type="EsPadreMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EsPadreMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EsPadre instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EsHija -->
  <xsd:element name="esHija" type="EsHija" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EsHija">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EsHija Moniker -->
  <xsd:element name="esHijaMoniker" type="EsHijaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EsHijaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EsHija instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributoIdentificador -->
  <xsd:element name="claseHasAtributoIdentificador" type="ClaseHasAtributoIdentificador" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasAtributoIdentificador">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AtributoIdentificador -->
          <xsd:element ref="atributoIdentificador" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributoIdentificador Moniker -->
  <xsd:element name="claseHasAtributoIdentificadorMoniker" type="ClaseHasAtributoIdentificadorMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasAtributoIdentificadorMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasAtributoIdentificador instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionesHasParametros -->
  <xsd:element name="operacionesHasParametros" type="OperacionesHasParametros" substitutionGroup="core:modelElement" />
  <xsd:complexType name="OperacionesHasParametros">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Parametros -->
          <xsd:element ref="parametros" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionesHasParametros Moniker -->
  <xsd:element name="operacionesHasParametrosMoniker" type="OperacionesHasParametrosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="OperacionesHasParametrosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for OperacionesHasParametros instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum tipodato -->
  <xsd:simpleType name="tipodato">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Int"/>
      <xsd:enumeration value="String"/>
      <xsd:enumeration value="Char"/>
      <xsd:enumeration value="Boolean"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Modificadores -->
  <xsd:simpleType name="Modificadores">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Public"/>
      <xsd:enumeration value="Private"/>
      <xsd:enumeration value="Protected"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Cardinalidades -->
  <xsd:simpleType name="Cardinalidades">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="c1N"/>
      <xsd:enumeration value="c0N"/>
      <xsd:enumeration value="c11"/>
      <xsd:enumeration value="c10"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum ConexionTipos -->
  <xsd:simpleType name="ConexionTipos">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Asociacion"/>
      <xsd:enumeration value="Agregacion"/>
      <xsd:enumeration value="Composicion"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Colorz -->
  <xsd:simpleType name="Colorz">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Rojo"/>
      <xsd:enumeration value="Azul"/>
      <xsd:enumeration value="Negro"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum posicion -->
  <xsd:simpleType name="posicion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="left"/>
      <xsd:enumeration value="right"/>
      <xsd:enumeration value="center"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum tipodeletra -->
  <xsd:simpleType name="tipodeletra">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Arial"/>
      <xsd:enumeration value="Tahoma"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum formatoclase -->
  <xsd:simpleType name="formatoclase">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Radio"/>
      <xsd:enumeration value="Normal"/>
      <xsd:enumeration value="Check"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

