Dsl/GeneratedCode/UMLSPFSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="UMLSPFSchema" targetNamespace="http://schemas.microsoft.com/dsltools/UMLSPF" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/UMLSPF" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- ModeloClassWEB -->
  <xsd:element name="modeloClassWEB" type="ModeloClassWEB" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModeloClassWEB">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ModeloClassWEBHasClass -->
          <xsd:element name="class" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModeloClassWEBHasClass</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modeloClassWEBHasClass" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModeloClassWEBHasClass needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModeloClassWEBHasHerencia -->
          <xsd:element name="herencia" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModeloClassWEBHasHerencia</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modeloClassWEBHasHerencia" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModeloClassWEBHasHerencia needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreUML -->
        <xsd:attribute name="nombreUML" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModeloClassWEB Moniker -->
  <xsd:element name="modeloClassWEBMoniker" type="ModeloClassWEBMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModeloClassWEBMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModeloClassWEB instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase -->
  <xsd:element name="clase" type="Clase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Clase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseHasAtrib -->
          <xsd:element name="atrib" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasAtrib</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasAtrib" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasAtrib needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseHasMethods -->
          <xsd:element name="methods" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasMethods</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasMethods" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasMethods needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: conAsociacion -->
          <xsd:element name="targetClase" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of conAsociacion</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="conAsociacion" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of conAsociacion needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseHasAtribID -->
          <xsd:element name="atribID" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClaseHasAtribID</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasAtribID" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasAtribID needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreClase -->
        <xsd:attribute name="nombreClase" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Nombre de la  Clase</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase Moniker -->
  <xsd:element name="claseMoniker" type="ClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Clase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo -->
  <xsd:element name="atributo" type="Atributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Atributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreAtributo -->
        <xsd:attribute name="nombreAtributo" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Nombre del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoAtributo -->
        <xsd:attribute name="tipoAtributo" type="tipodato" >
          <xsd:annotation>
            <xsd:documentation>Tipo de dato del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Modificador -->
        <xsd:attribute name="modificador" type="Modificadores" >
          <xsd:annotation>
            <xsd:documentation>Modificador del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo Moniker -->
  <xsd:element name="atributoMoniker" type="AtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Atributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Operaciones -->
  <xsd:element name="operaciones" type="Operaciones" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Operaciones">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: OperacionesHasParams -->
          <xsd:element name="params" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of OperacionesHasParams</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="operacionesHasParams" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of OperacionesHasParams needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreOperacion -->
        <xsd:attribute name="nombreOperacion" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Nombre del metodo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoOperacion -->
        <xsd:attribute name="tipoOperacion" type="tipodato" >
          <xsd:annotation>
            <xsd:documentation>Tipo de dato del metodo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Modificador -->
        <xsd:attribute name="modificador" type="Modificadores" >
          <xsd:annotation>
            <xsd:documentation>Modificador del Metodo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Operaciones Moniker -->
  <xsd:element name="operacionesMoniker" type="OperacionesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="OperacionesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Operaciones instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida -->
  <xsd:element name="claseEnriquecida" type="ClaseEnriquecida" substitutionGroup="clase" />
  <xsd:complexType name="ClaseEnriquecida">
    <xsd:complexContent>
      <xsd:extension base="Clase">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseEnriquecidaHasClassStyle -->
          <xsd:element name="classStyle" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClaseEnriquecidaHasClassStyle</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseEnriquecidaHasClassStyle" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseEnriquecidaHasClassStyle needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseEnriquecidaHasAtribStyle -->
          <xsd:element name="atribStyle" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClaseEnriquecidaHasAtribStyle</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseEnriquecidaHasAtribStyle" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseEnriquecidaHasAtribStyle needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseEnriquecidaHasMethodsStyle -->
          <xsd:element name="methodsStyle" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ClaseEnriquecidaHasMethodsStyle</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseEnriquecidaHasMethodsStyle" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseEnriquecidaHasMethodsStyle needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida Moniker -->
  <xsd:element name="claseEnriquecidaMoniker" type="ClaseEnriquecidaMoniker" substitutionGroup="claseMoniker" />
  <xsd:complexType name="ClaseEnriquecidaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecida instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstilosClase -->
  <xsd:element name="estilosClase" type="EstilosClase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstilosClase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ColorFondo -->
        <xsd:attribute name="colorFondo" type="Colorz" />
        <!-- Property: ColorLetra -->
        <xsd:attribute name="colorLetra" type="Colorz" />
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="tipodeletra" />
        <!-- Property: Alineacion -->
        <xsd:attribute name="alineacion" type="posicion" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstilosClase Moniker -->
  <xsd:element name="estilosClaseMoniker" type="EstilosClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstilosClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstilosClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloAtributos -->
  <xsd:element name="estiloAtributos" type="EstiloAtributos" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstiloAtributos">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Tipoletra -->
        <xsd:attribute name="tipoletra" type="tipodeletra" />
        <!-- Property: ColorLetra -->
        <xsd:attribute name="colorLetra" type="Colorz" />
        <!-- Property: FormatoAtributo -->
        <xsd:attribute name="formatoAtributo" type="formatAtrib" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloAtributos Moniker -->
  <xsd:element name="estiloAtributosMoniker" type="EstiloAtributosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstiloAtributosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloAtributos instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloMetodos -->
  <xsd:element name="estiloMetodos" type="EstiloMetodos" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstiloMetodos">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="tipodeletra" />
        <!-- Property: ColorLetra -->
        <xsd:attribute name="colorLetra" type="Colorz" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloMetodos Moniker -->
  <xsd:element name="estiloMetodosMoniker" type="EstiloMetodosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstiloMetodosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloMetodos instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Herencia -->
  <xsd:element name="herencia" type="Herencia" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Herencia">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: EsPadre -->
          <xsd:element name="clasePadre" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EsPadre</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="esPadre" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EsPadre needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: EsHija -->
          <xsd:element name="claseHija" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EsHija</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="esHija" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EsHija needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Generalizacion1 -->
        <xsd:attribute name="generalizacion1" type="genera1" />
        <!-- Property: Generalizacion2 -->
        <xsd:attribute name="generalizacion2" type="genera2" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Herencia Moniker -->
  <xsd:element name="herenciaMoniker" type="HerenciaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="HerenciaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Herencia instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoIdentificador -->
  <xsd:element name="atributoIdentificador" type="AtributoIdentificador" substitutionGroup="core:modelElement" />
  <xsd:complexType name="AtributoIdentificador">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreAtributo -->
        <xsd:attribute name="nombreAtributo" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Nombre del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoAtributo -->
        <xsd:attribute name="tipoAtributo" type="tipodato" >
          <xsd:annotation>
            <xsd:documentation>Tipo de dato del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Modificador -->
        <xsd:attribute name="modificador" type="Modificadores" >
          <xsd:annotation>
            <xsd:documentation>Modificador del Atributo</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- AtributoIdentificador Moniker -->
  <xsd:element name="atributoIdentificadorMoniker" type="AtributoIdentificadorMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoIdentificadorMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for AtributoIdentificador instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parametros -->
  <xsd:element name="parametros" type="Parametros" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Parametros">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoDato -->
        <xsd:attribute name="tipoDato" type="tipodato" />
        <!-- Property: NombreParametro -->
        <xsd:attribute name="nombreParametro" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Parametros Moniker -->
  <xsd:element name="parametrosMoniker" type="ParametrosMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ParametrosMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Parametros instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModeloClassWEBHasClass -->
  <xsd:element name="modeloClassWEBHasClass" type="ModeloClassWEBHasClass" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModeloClassWEBHasClass">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="clase" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModeloClassWEBHasClass Moniker -->
  <xsd:element name="modeloClassWEBHasClassMoniker" type="ModeloClassWEBHasClassMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModeloClassWEBHasClassMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModeloClassWEBHasClass instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtrib -->
  <xsd:element name="claseHasAtrib" type="ClaseHasAtrib" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasAtrib">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Atributo -->
          <xsd:element ref="atributo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtrib Moniker -->
  <xsd:element name="claseHasAtribMoniker" type="ClaseHasAtribMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasAtribMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasAtrib instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasMethods -->
  <xsd:element name="claseHasMethods" type="ClaseHasMethods" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasMethods">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Operaciones -->
          <xsd:element ref="operaciones" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasMethods Moniker -->
  <xsd:element name="claseHasMethodsMoniker" type="ClaseHasMethodsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasMethodsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasMethods instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- conAsociacion -->
  <xsd:element name="conAsociacion" type="ConAsociacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ConAsociacion">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: refD -->
        <xsd:attribute name="refD" type="Cardinalidades" >
          <xsd:annotation>
            <xsd:documentation>Establecer cardinalidad entre clases</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: refI -->
        <xsd:attribute name="refI" type="Cardinalidades" >
          <xsd:annotation>
            <xsd:documentation>Establecer cardinalidad entre clases</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NombreRelacion -->
        <xsd:attribute name="nombreRelacion" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Establecer nonbre relacion entre las clases</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: NameRelation -->
        <xsd:attribute name="nameRelation" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Establecer nonbre relacion entre las clases</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ConexionTipo -->
        <xsd:attribute name="conexionTipo" type="ConexionTipos" >
          <xsd:annotation>
            <xsd:documentation>Establecer tipo de conexion</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- conAsociacion Moniker -->
  <xsd:element name="conAsociacionMoniker" type="ConAsociacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConAsociacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for conAsociacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasClassStyle -->
  <xsd:element name="claseEnriquecidaHasClassStyle" type="ClaseEnriquecidaHasClassStyle" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecidaHasClassStyle">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstilosClase -->
          <xsd:element ref="estilosClase" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasClassStyle Moniker -->
  <xsd:element name="claseEnriquecidaHasClassStyleMoniker" type="ClaseEnriquecidaHasClassStyleMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaHasClassStyleMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecidaHasClassStyle instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasAtribStyle -->
  <xsd:element name="claseEnriquecidaHasAtribStyle" type="ClaseEnriquecidaHasAtribStyle" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecidaHasAtribStyle">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloAtributos -->
          <xsd:element ref="estiloAtributos" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasAtribStyle Moniker -->
  <xsd:element name="claseEnriquecidaHasAtribStyleMoniker" type="ClaseEnriquecidaHasAtribStyleMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaHasAtribStyleMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecidaHasAtribStyle instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasMethodsStyle -->
  <xsd:element name="claseEnriquecidaHasMethodsStyle" type="ClaseEnriquecidaHasMethodsStyle" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecidaHasMethodsStyle">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloMetodos -->
          <xsd:element ref="estiloMetodos" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasMethodsStyle Moniker -->
  <xsd:element name="claseEnriquecidaHasMethodsStyleMoniker" type="ClaseEnriquecidaHasMethodsStyleMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaHasMethodsStyleMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecidaHasMethodsStyle instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModeloClassWEBHasHerencia -->
  <xsd:element name="modeloClassWEBHasHerencia" type="ModeloClassWEBHasHerencia" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModeloClassWEBHasHerencia">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Herencia -->
          <xsd:element ref="herencia" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModeloClassWEBHasHerencia Moniker -->
  <xsd:element name="modeloClassWEBHasHerenciaMoniker" type="ModeloClassWEBHasHerenciaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModeloClassWEBHasHerenciaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModeloClassWEBHasHerencia instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EsPadre -->
  <xsd:element name="esPadre" type="EsPadre" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EsPadre">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EsPadre Moniker -->
  <xsd:element name="esPadreMoniker" type="EsPadreMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EsPadreMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EsPadre instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EsHija -->
  <xsd:element name="esHija" type="EsHija" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EsHija">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EsHija Moniker -->
  <xsd:element name="esHijaMoniker" type="EsHijaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EsHijaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EsHija instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtribID -->
  <xsd:element name="claseHasAtribID" type="ClaseHasAtribID" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasAtribID">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end AtributoIdentificador -->
          <xsd:element ref="atributoIdentificador" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtribID Moniker -->
  <xsd:element name="claseHasAtribIDMoniker" type="ClaseHasAtribIDMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasAtribIDMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasAtribID instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionesHasParams -->
  <xsd:element name="operacionesHasParams" type="OperacionesHasParams" substitutionGroup="core:modelElement" />
  <xsd:complexType name="OperacionesHasParams">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Parametros -->
          <xsd:element ref="parametros" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- OperacionesHasParams Moniker -->
  <xsd:element name="operacionesHasParamsMoniker" type="OperacionesHasParamsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="OperacionesHasParamsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for OperacionesHasParams instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum tipodato -->
  <xsd:simpleType name="tipodato">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Int"/>
      <xsd:enumeration value="String"/>
      <xsd:enumeration value="Char"/>
      <xsd:enumeration value="Boolean"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Modificadores -->
  <xsd:simpleType name="Modificadores">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Public"/>
      <xsd:enumeration value="Private"/>
      <xsd:enumeration value="Protected"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Cardinalidades -->
  <xsd:simpleType name="Cardinalidades">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="c1N"/>
      <xsd:enumeration value="c0N"/>
      <xsd:enumeration value="c11"/>
      <xsd:enumeration value="c10"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum ConexionTipos -->
  <xsd:simpleType name="ConexionTipos">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Asociacion"/>
      <xsd:enumeration value="Agregacion"/>
      <xsd:enumeration value="Composicion"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Colorz -->
  <xsd:simpleType name="Colorz">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Rojo"/>
      <xsd:enumeration value="Azul"/>
      <xsd:enumeration value="Negro"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum posicion -->
  <xsd:simpleType name="posicion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="left"/>
      <xsd:enumeration value="right"/>
      <xsd:enumeration value="center"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum tipodeletra -->
  <xsd:simpleType name="tipodeletra">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Arial"/>
      <xsd:enumeration value="Tahoma"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum formatoclase -->
  <xsd:simpleType name="formatoclase">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Radio"/>
      <xsd:enumeration value="Normal"/>
      <xsd:enumeration value="Check"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum genera1 -->
  <xsd:simpleType name="genera1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Total"/>
      <xsd:enumeration value="Parcial"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum genera2 -->
  <xsd:simpleType name="genera2">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Disjunta"/>
      <xsd:enumeration value="Solapada"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum formatAtrib -->
  <xsd:simpleType name="formatAtrib">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Radio"/>
      <xsd:enumeration value="Normal"/>
      <xsd:enumeration value="CheckBox"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

